body {
    display:flex;
    height: 45vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size:cover;
    background-position: top center;
    font-size: 120%;
    justify-content: center;
  }
  
  .card {
    background: #363b3de1;
    color: white;
    padding: 3em;
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    margin: 0.7em;
    max-height: 50px;
    padding-right: 2.2em;
  }
  
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .imagine{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  
  button {
    margin: 0.5em;
    border: none;
    height: 40px;
    width: 45px;
    outline: none;
    background: #7c7c7c00;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  ::placeholder{
    color: white;
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    text-shadow: 0px 5px rgb(12, 12, 12);
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }

  #desc1,#desc2,#desc3,#desc4,#desc5{
    text-transform: capitalize;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }

  .card2{
    padding: 0.5em 0.5em 0.5em;
    display: flex;
    align-items: center;
    text-align: center;
    color: aliceblue;
    background:linear-gradient(rgb(59, 7, 7),rgb(142, 1, 1),rgb(93, 3, 3));
    border-radius: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    margin-left: 45px;
    padding-bottom: 30px;
  }
  .ccc{
display: flex;
flex-direction: column;
min-height: 100vh;
  }

  
.next{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  background: #000000b6;
    color: white;
    padding: 0.6em;
    border-radius: 30px;
    width: 100%;
    max-width: 350px;
    max-height: 200px;
    margin: 0.7em;
    margin-left: auto;
}
.next p,.next h3{
  margin: 3px 0;
}
.time,.date{
  color: rgb(254, 189, 132);
}
.desc{
  color: rgb(196, 255, 77);
}

.forecstH{
  margin: 10px 50px;
  width: 100%;
}


#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}